.user-info-container {
  padding-top: 50px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 50px 0px;
}

.user-info__profile {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.user-info__name {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0;
}
.user-info__days {
  font-size: 20px;
  color: var(--blue);
}

.user-info__description-container {
  width: 100%;
  padding: 20px;
}

.user-info__description-container p:first-child {
  border-bottom: var(--main-border);
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: gray;
}