.todo-find__title {
  text-align: center;
  font-size: 3vh;
  font-family: 'Plantagenet Cherokee';
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1.5px solid #ddf1f6;
  padding-top: 100px;
}

.todo-find__list-checkset {
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

.todo-find__icon {
  margin-right: 3vw;
}


#add-todo-find {
  display: flex;
  justify-content: center;
}
