@import "reset.css";
@import "variables.css";

/* Components */
@import "components/head-bar.css";
@import "components/nav-bar.css";
@import "components/list.css";

/* Screens */
@import "screens/todo-main.css";
@import "screens/todo-find.css";
@import "screens/community-feed.css";
@import "screens/community-todo.css";
@import "screens/community-description.css";
@import "screens/myinfo-main.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */
  src:
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(path/to/MaterialIcons-Regular.woff2) format('woff2'),
    url(path/to/MaterialIcons-Regular.woff) format('woff'),
    url(path/to/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
 
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
 
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
 
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
 
  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  /* padding: 20px;  */
}

.head__link-bar-margin {
  margin-top: 50px;
}